<ion-header>

  <ion-navbar>
    <ion-title>Estamos quase lá!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2> {{ carro.nome }} </h2>
  <p> R$ {{ precoTotal }} </p>

  <form (ngSubmit)="agenda()"  >
    <ion-item>
      <ion-label stacked >Nome</ion-label>
      <ion-input name="nome" [(ngModel)]="agendamento.nome" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Endereço</ion-label>
      <ion-input name="endereco" [(ngModel)]="agendamento.endereco" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Email</ion-label>
      <ion-input name="email" [(ngModel)]="agendamento.email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Data</ion-label>
      <ion-datetime name="data" [(ngModel)]="agendamento.data" displayFormat="DD/MM/YY" ></ion-datetime>
    </ion-item>    
    <button ion-button block type="submit" >Finalizar agendamento</button>
    
  </form>

</ion-content>
