<ion-header>
  <ion-navbar>
    <ion-title>
      Alura Car
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let carro of carros" (click)="seleciona(carro)" >{{ carro.nome }} - {{ carro.preco }}</ion-item>
  </ion-list>
</ion-content>